<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Content/laydate/laydate.js"></script>
    @*<script src="~/Views/Package/Package.js"></script>*@

    <script>
        function changeShowCheckType(self) {
            var button = document.getElementById("showCheckType");
            button.innerHTML = self.innerText + ' <span class="caret"></span>';
        }

        function changeInputContent(self) {
            var input = document.getElementById("showCheckContent");
            input.placeholder = self.innerText + '查找';
        }

        function turnToDetail(id) {
            window.location.href = '/Member/DetailMember?id=' + id;
        }

        function searchWith() {
            date1 = document.getElementById("thisDate1").value;
            date2 = document.getElementById("thisDate2").value;
            window.location.href = "/Member/AllMember?status=" + document.getElementById("selectType").innerText + "&searchWith=" + document.getElementById("showCheckType").innerText.replace(/\s+/g, "") + "&searchWithContent=" + document.getElementById("showCheckContent").value + "&date1=" + date1 + "&date2=" + date2 + "&page=1";

        }
        function JumpTo(status) {
            date1 = document.getElementById("thisDate1").value;
            date2 = document.getElementById("thisDate2").value;
            window.location.href = "/Member/AllMember?status=" + status + "&searchWith=" + document.getElementById("showCheckType").innerText + "&searchWithContent=" + document.getElementById("showCheckContent").value + "&date1=" + date1 + "&date2=" + date2 + "&page=1";
        }
        function JumpToPage(status, currentPage, count) {
            date1 = document.getElementById("thisDate1").value;
            date2 = document.getElementById("thisDate2").value;
            window.location.href = "/Member/AllMember?status=" + status + "&searchWith=" + document.getElementById("showCheckType").innerText + "&searchWithContent=" + document.getElementById("showCheckContent").value + "&date1=" + date1 + "&date2=" + date2 + "&page=" + (currentPage + count).toString();
        }

        function changeInputContentMonth(status, date1, date2) {
            if (date1 == null || date1 == "") {
                date1 = document.getElementById("thisDate1").value;
            }
            if (date2 == null || date2 == "") {
                date2 = document.getElementById("thisDate2").value;
            }
            window.location.href = "/Member/AllMember?status=" + status + "&searchWith=" + document.getElementById("showCheckType").innerText + "&searchWithContent=" + document.getElementById("showCheckContent").value + "&date1=" + date1 + "&date2=" + date2 + "&page=1";
        }
    </script>
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
    <div class="navbar navbar-default navbar-fixed-top">

        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Login/AfterLogin">首页</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/Package/Package">包裹一览</a></li>
                    <li><a href="/Car/Car">站点配车</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">人员管理<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Member/AllMember">员工一览</a></li>
                            <li><a href="/Member/AddMember">员工录用</a></li>
                            <li><a href="/Member/DeleteMember">员工开除</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Member/Fine">奖罚款</a></li>
                            <li><a href="/Member/moneyList">奖罚款条单</a></li>
                            <li><a href="/Member/Leave">请假条</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Member/Mission">任务分配</a></li>
                            <li><a href="/Member/Wages">工薪统计</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">显示更多 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Login/changePassword">修改超级密码</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Login/exitLogin">退出用户</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <h2 class='page-header'>员工一览</h2>

    <form action="AllMember" method="post">
        <div class="col-sm-10 col-sm-offset-2" style="display:flex">

            <script>
            laydate.render({
                elem: '#thisDate1',
                type: 'date',
                done: function (value, date, endDate) {
                    console.log(value); //得到日期生成的值，如：2017-08-18
                    console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                    console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
                    changeInputContentMonth('@ViewBag.status', value)
                }
            });
            laydate.render({
                elem: '#thisDate2',
                type: 'date',
                done: function (value, date, endDate) {
                    console.log(value); //得到日期生成的值，如：2017-08-18
                    console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                    console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
                    changeInputContentMonth('@ViewBag.status', '', value)
                }
            });
            </script>

            <input type="text" id="thisDate1" value="@ViewBag.thisDate1">
            <input type="text" id="thisDate2" value="@ViewBag.thisDate2">
            <button class="btn btn-default" type="button" onclick="changeInputContentMonth('@ViewBag.status','','')">OK!</button>

            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="showCheckType">
                @ViewBag.searchWith<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a onclick="changeShowCheckType(this);changeInputContent(this)">按姓名</a></li>
                <li><a onclick="changeShowCheckType(this);changeInputContent(this)">按手机</a></li>
            </ul>

            <div class="input-group">
                <input type="text" class="form-control" placeholder="" id="showCheckContent" value="@ViewBag.searchWithContent">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="searchWith(1)">Go!</button>
                </span>
            </div>
        </div>
    </form>
    <br />

    <div class="col-sm-12" style="display:flex">
        <div class=" col-sm-10">
            <table class="table table-hover">
                <thead style="display: table-header-group;vertical-align: middle;border-color: inherit;">
                    <tr>
                        <th>肖像</th>
                        <th>姓名</th>
                        <th>联系手机</th>
                        <th>职位</th>
                        <th>入职时间</th>
                        <th>休假情况</th>
                    </tr>

                </thead>
                <tbody style="display: table-row-group;vertical-align: middle;border-color: inherit;" onclick="">

                    @foreach (var man in ViewBag.showMen)
                    {
                        <tr>
                            <th scope="row"><img class="img-circle" src=@("http://" + man.imagePath) alt="头像" style="width:3rem;height:3rem;border-radius:3rem" /></th>
                            <td>@man.name</td>
                            <td>@man.mId</td>
                            <td>@man.job</td>
                            <td>@man.time</td>
                            @if (man.onDuty)
                            {
                                <td>工作中</td>
                            }
                            else
                            {
                                <td>休息中</td>
                            }
                            <th><button type="button" class="btn-sm btn-info" onclick="turnToDetail(@man.mId)">详情</button></th>

                        </tr>
                    }
                </tbody>
            </table>
        </div>


        <div class='container-fluid col-sm-1.5'>
            <div class="list-group">
                <h4 class="page-header" id="selectType">@ViewBag.status</h4>
                <a class="list-group-item" onclick="JumpTo('',1)">全部</a>
                <a class="list-group-item" onclick="JumpTo('休息中',1)">休息中</a>
                <a class="list-group-item" onclick="JumpTo('工作中',1)">工作中</a>
                <a class="list-group-item" onclick="JumpTo('待定中',1)">待定中</a>
                <a class="list-group-item" onclick="JumpTo('派件员',1)">派件员</a>
                <a class="list-group-item" onclick="JumpTo('出件员',1)">出件员</a>
                <a class="list-group-item" onclick="JumpTo('揽件员',1)">揽件员</a>
                <a class="list-group-item" onclick="JumpTo('已辞职',1)">已辞职</a>
            </div>
        </div>
    </div>

    <div style="display:flex;margin:auto">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a onclick="JumpToPage('@ViewBag.status',1 ,0)" aria-label="Previous">
                        <span aria-hidden="true">首页</span>
                    </a>
                </li>
                <li>
                    <a onclick="JumpToPage('@ViewBag.status',@ViewBag.currentPage,-1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @if (ViewBag.currentPage >= 3 && ViewBag.currentPage <= ViewBag.PageSum - 2)
                {
                    if (ViewBag.currentPage - 2 > 1)
                    {
                        <li><a href="#">...</a></li>
                    }
                    for (int i = 0, j = ViewBag.currentPage - 2; i < 5; i++, j++)
                    {
                        <li><a onclick="JumpToPage('@ViewBag.status',@j,0)">@j</a></li>
                    }
                    if (ViewBag.currentPage + 2 < ViewBag.PageSum)
                    {
                        <li><a href="#">...</a></li>
                    }

                }
                else if (ViewBag.currentPage <= 3)
                {
                    for (int i = 1; i < 5 && i <= ViewBag.PageSum; i++)
                    {
                        <li><a onclick="JumpToPage('@ViewBag.status',@i,0)">@i</a></li>
                    }
                    if (ViewBag.PageSum > 5)
                    {
                        <li><a href="#">...</a></li>
                    }

                }
                else if (ViewBag.currentPage > ViewBag.PageSum - 2)
                {
                    if (ViewBag.PageSum > 5)
                    {
                        <li><a href="#">...</a></li>
                    }
                    for (int i = ViewBag.PageSum - 5, j = 0; j <= 5; j++, i++)
                    {
                        if (i <= 0)
                        {
                            continue;
                        }
                        <li><a onclick="JumpToPage('@ViewBag.status',@i,0)">@i</a></li>
                    }
                }
                <li>
                    <a onclick="JumpToPage('@ViewBag.status',@ViewBag.currentPage,1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li>
                    <a onclick="JumpToPage('@ViewBag.status',@ViewBag.PageSum,0)" aria-label="Previous">
                        <span aria-hidden="true">尾页</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>

