<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<script src="~/Views/Package/Package.js"></script>*@
    <style>
        .btn-circle {
            width: 30px;
            height: 30px;
            text - align: center;
            padding: 6px 0;
            font - size: 12px;
            line - height: 1.428571429;
            border - radius: 15px;
        }
    </style>
    <script>
        function addimg() {
            var f = document.getElementById('upload');
            f.click();
        }

        function loadimg(file) {

            var MAXWIDTH = 100;
            var MAXHEIGHT = 100;

            if (file.files && file.files[0]) {
                //div.innerHTML = '<img id=imghead>'; 
                var img = document.getElementById('imghead');
                img.onload = function () {
                    var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                    img.width = rect.width;
                    img.height = rect.height;
                    img.style.marginLeft = rect.left + 'px';
                    img.style.marginTop = rect.top + 'px';
                }
                var reader = new FileReader();
                reader.onload = function (evt) {
                    img.src = evt.target.result;
                }
                reader.readAsDataURL(file.files[0]);
                //uploadPhoto();

            } else {
                var sFilter = 'filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
                file.select();
                var src = document.selection.createRange().text;
                // div.innerHTML = '<img id=imghead>';
                var img = document.getElementById('imghead');
                img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
                var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                status = ('rect:' + rect.top + ',' + rect.left + ',' + rect.width + ',' + rect.height);

            }

        }

        function clacImgZoomParam(maxWidth, maxHeight, width, height) {
            var param = {
                top: 0,
                left: 0,
                width: width,
                height: height
            };
            if (width > maxWidth || height > maxHeight) {
                rateWidth = width / maxWidth;
                rateHeight = height / maxHeight;

                if (rateWidth > rateHeight) {
                    param.width = maxWidth;
                    param.height = Math.round(height / rateWidth);
                } else {
                    param.width = Math.round(width / rateHeight);
                    param.height = maxHeight;
                }
            }
            param.left = Math.round((maxWidth - param.width) / 2);
            param.top = Math.round((maxHeight - param.height) / 2);
            return param;
        }

        function finish(OldID) {
            var salary = Number(document.getElementById("newSalary").value);
            $.ajax({
                url: 'http://172.16.34.153:60062/Manager/ChangeMid', /*接口域名地址*/
                contentType: "application/json;charset=UTF-8",
                type: 'put',
                data: JSON.stringify({
                    'oldMid': OldID,
                    "newMid": document.getElementById("newPhone").value
                }),
                success: function (res) {
                    if (res == true) {
                        //修改信息
                        $.ajax({
                            url: 'http://172.16.34.153:60062/Manager/ChangeMemberInfo', /*接口域名地址*/
                            contentType: "application/json;charset=UTF-8",
                            type: 'put',
                            data: JSON.stringify({
                                "mId": document.getElementById("newPhone").value,
                                "name": document.getElementById("newName").value,
                                "job": "派件员",
                                "baseSalary": salary
                            }),
                            success: function (res) {
                                if (res == true) {
                                    alert('修改信息成功');
                                    window.location.href = '/Member/DetailMember?id=' + document.getElementById("newPhone").value;
                                } else {
                                    alert('失败');
                                    console.log(res);
                                }
                            }
                        })

                    } else {
                        alert('失败');
                        console.log(res);
                    }
                }
            })
        }

        function tryPhone() {
            var phone = document.getElementById("newPhone").value;
            if (phone == "") {
                return;
            }
            $.ajax({
                type: 'get',
                url: 'http://172.16.34.153:60062/Query/isTel',
                data: {
                    tb: phone
                },
                success: function (res) {
                    if (res == true) {
                        //可用按钮
                        document.getElementById("phoneIllegal").style.display = 'none';
                        document.getElementById("finishChange").disabled = false;
                    }
                    else {
                        document.getElementById("phoneIllegal").style.display = 'block';
                        document.getElementById("finishChange").disabled = true;
                    }
                }
            });
        }

        function changeID() {

        }
    </script>
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
    <div class="navbar navbar-default navbar-fixed-top">

        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../Login/AfterLogin">首页</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="../Package/Package">包裹一览</a></li>
                    <li><a href="#">站点配车</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">人员管理<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../Member/AllMember">员工一览</a></li>
                            <li><a href="../Member/AddMember">员工录用</a></li>
                            <li><a href="../Member/DeleteMember">员工开除</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="../Member/Leave">请假条</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="../Member/Mission">任务分配</a></li>
                            <li><a href="../Member/Wages">工薪统计</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="输入单号查询包裹">
                    </div>
                    <button type="submit" class="btn btn-default">查询</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">显示更多 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../Login/changePassword">修改超级密码</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="../Home/Index">退出用户</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </div>

    <h2 class='page-header'>员工详情</h2>

    <div style="left:0rem;display:flex">
        <div style="display:flex;align-items:center">

            <input type="file" class="parameter required hidden" name="file" id="upload" onchange="loadimg(this)">

            <img src=@("http://" + ViewBag.thisImagePath) id="imghead" type="button" class="btn btn-default btn-group-lg " onclick="addimg()" aria-label="Left Align" style="width:9rem;height:11rem;border:0">

        </div>
        <br /><br />
    </div>

    <div style="display:flex">
        <div style="display:flex;flex-direction:column">
            <div class="row" style="font-size:25px;margin-top:3rem;margin-left:7rem;display:flex">
                员工姓名:&nbsp;&nbsp;&nbsp;
                <input type="text" class="form-control" placeholder="@ViewBag.thisName" value="@ViewBag.thisName" aria-describedby="sizing-addon1" style="margin: auto;height: 3rem;" id="newName">
            </div>

            <div class="row" style="font-size:25px;margin-top:3rem;margin-left:7rem;display:flex">
                员工号:&nbsp;&nbsp;&nbsp;
                <div id="mid" style="display:flex">
                    <input type="text" class="form-control" placeholder="@ViewBag.thisID" value="@ViewBag.thisID" aria-describedby="sizing-addon1" style="width:16rem" id="newPhone" onblur="tryPhone()">
                    <span class="glyphicon glyphicon glyphicon-remove " style="color:red;display:none" id="phoneIllegal">错误的手机号</span>

                </div>
            </div>

            <div class="row" style="font-size:25px;margin-top:3rem;margin-left:7rem;display:flex">
                职称:&nbsp;&nbsp;
                <div id="newJob">@ViewBag.thisJob</div>
            </div>

            <div class="row" style="font-size:25px;margin-top:3rem;margin-left:7rem;display:flex">
                <div class="btn-group">
                    <button type="button" class="btn-Mission btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:15rem">
                        派件记录<span class="glyphicon glyphicon-triangle-bottom"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li style="display:flex"><a>历史派件总数:</a><a class="Pie" style="margin-left:-1rem" id="MissionType2">111</a></li>
                        <li style="display:flex"><a>历史揽件总数:</a><a class="Docs" style="margin-left:-1rem" id="MissionType2">121</a></li>
                        <li style="display:flex"><a>历史转件总数:</a><a class="Tra" style="margin-left:-1rem" id="MissionType2">133</a></li>
                    </ul>
                </div>
            </div>

            <div class="row input-group" style="font-size:25px;margin-top:3rem;margin-left:7rem;display:flex" id="mjoinTime">
                底薪:&nbsp;&nbsp;&nbsp;
                <span class="input-group-addon">￥</span>
                <input type="text" class="form-control" placeholder="@ViewBag.thisBaseSalary" value="@ViewBag.thisBaseSalary" aria-describedby="sizing-addon1" style="width:16rem" id="newSalary">
            </div>

            <button type="button" class="btn btn-success btn-lg col-sm-offset-1" style="margin:auto;margin-right:0;" onclick="finish(@ViewBag.thisID)" id="finishChange">完成</button>

        </div>


    </div>



</body>
</html>

