<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Content/laydate/laydate.js"></script>
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>

    <script>
        function changeShowCheckType(self) {
            var button = document.getElementById("showCheckType");
            button.innerHTML = self.innerText + ' <span class="caret"></span>';
        }

        function changeInputContent(self) {
            var input = document.getElementById("showCheckContent");
            input.style.display = 'block';
            document.getElementById("date1").style.display = 'none';
            document.getElementById("date2").style.display = 'none';
            input.placeholder = self.innerText + '查找';
        }

        function JumpToPage(status,currentPage, count) {
            window.location.href = "/Member/Leave?status=" + status + "&searchWith=" + document.getElementById("showCheckType").innerText.replace(/\s*/g, "") + "&searchWithContent=" + document.getElementById("showCheckContent").value + "&date1=" + document.getElementById("date1").value + "&date2=" + document.getElementById("date2").value + "&page=" + (currentPage + count).toString();
        }

        function dateChange(status,currentPage) {
            window.location.href = "/Member/Leave?status=" + status + "&searchWith=" + document.getElementById("showCheckType").innerText.replace(/\s*/g, "") + "&searchWithContent=" + document.getElementById("showCheckContent").value + "&date1=" + document.getElementById("date1").value + "&date2=" + document.getElementById("date2").value + "&page=" + (currentPage).toString();
        }

        function changeInputContentMonth(self) {
            var input = document.getElementById("showCheckContent");
            input.style.display = 'none';
            document.getElementById("date1").style.display = 'block';
            document.getElementById("date2").style.display = 'block';
            input.placeholder = self.innerText + '查找';

        }

        function searchWith(status,currentPage) {
            if (document.getElementById("showCheckType").innerText == "按日期") {
                dateChange(status,currentPage);
            }
            else {
                window.location.href = "/Member/Leave?status=" + status + "&searchWith=" + document.getElementById("showCheckType").innerText.replace(/\s*/g, "") + "&searchWithContent=" + document.getElementById("showCheckContent").value + "&date1=" + document.getElementById("date1").value + "&date2=" + document.getElementById("date2").value + "&page=" + (currentPage).toString();

            }

        }
        function JumpTo(status, currentPage) {
            window.location.href = "/Member/Leave?status=" + status + "&searchWith=" + document.getElementById("showCheckType").innerText.replace(/\s*/g, "") + "&searchWithContent=" + document.getElementById("showCheckContent").value;
        }

        function refuseApply(lid, mid) {
            //请假条完成
            $.ajax({
                url: 'http://172.16.34.153:60062/Leave/Deal', /*接口域名地址*/
                contentType: "application/json;charset=UTF-8",
                type: 'put',
                data: JSON.stringify({
                    "lId": lid,
                    "view": document.getElementById("accessView").value,
                    "person": "经理",
                    "isDone": false,
                    "mId": mid
                }),
                success: function (res) {
                    if (res == true) {
                        alert('拒绝完成');
                        window.location.reload();
                    } else {
                        alert('处理失败');
                    }
                }
            })
        }

        function accessApply(lid, mid) {
            //把员工休息
            $.ajax({
                url: 'http://172.16.34.153:60062/Manager/ChangeDuty', /*接口域名地址*/
                contentType: "application/json;charset=UTF-8",
                type: 'put',
                data: JSON.stringify({
                    "mId": mid,
                    "onDuty": false
                }),
                success: function (res) {
                    if (res == true) {
                        $.ajax({
                            url: 'http://172.16.34.153:60062/Leave/Deal', /*接口域名地址*/
                            contentType: "application/json;charset=UTF-8",
                            type: 'put',
                            data: JSON.stringify({
                                "lId": lid,
                                "view": document.getElementById("accessView").value,
                                "person": "经理",
                                "isDone": true,
                                "mId": mid
                            }),
                            success: function (res) {
                                if (res == true) {
                                    alert('批准成功');
                                    window.location.reload();
                                } else {
                                    alert('处理失败');
                                }
                            }
                        })
                    } else {
                        alert('提交失败');
                    }
                }
            })
        }
    </script>

    <div class="navbar navbar-default navbar-fixed-top">

        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Login/AfterLogin">首页</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/Package/Package">包裹一览</a></li>
                    <li><a href="/Car/Car">站点配车</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">人员管理<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Member/AllMember">员工一览</a></li>
                            <li><a href="/Member/AddMember">员工录用</a></li>
                            <li><a href="/Member/DeleteMember">员工开除</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Member/Fine">奖罚款</a></li>
                            <li><a href="/Member/moneyList">奖罚款条单</a></li>
                            <li><a href="/Member/Leave">请假条</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Member/Mission">任务分配</a></li>
                            <li><a href="/Member/Wages">工薪统计</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">显示更多 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Login/changePassword">修改超级密码</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Login/exitLogin">退出用户</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </div>

    <h2 class='page-header'>员工请假条</h2>

    <div class="col-sm-6 col-sm-offset-4" style="display:flex">

        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="showCheckType">
            @ViewBag.searchWith<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a onclick="changeShowCheckType(this);changeInputContent(this)">按姓名</a></li>
            <li><a onclick="changeShowCheckType(this);changeInputContent(this)">按手机</a></li>
            <li><a onclick="changeShowCheckType(this);changeInputContentMonth(this)">按日期</a></li>
        </ul>

        <div class="input-group">
            <script>
                //执行一个laydate实例
                laydate.render({
                    elem: '#date1' //指定元素

                });
                //执行一个laydate实例
                laydate.render({
                    elem: '#date2' //指定元素
                });
            </script>
            @if (ViewBag.searchWith == "按日期")
            {
                <div>
                    <input type="text" id="date1" value="@ViewBag.date1" style="display:block">
                    <input type="text" id="date2" value="@ViewBag.date2" style="display:block">
                </div>
                <input type="text" class="form-control" placeholder="" id="showCheckContent" value="@ViewBag.searchWithContent" style="display:none">
            }
            else
            {
                <div>
                    <input type="text" id="date1" value="@ViewBag.date1" style="display:none">
                    <input type="text" id="date2" value="@ViewBag.date2" style="display:none">
                </div>
                <input type="text" class="form-control" placeholder="" id="showCheckContent" value="@ViewBag.searchWithContent" style="display:block">
            }

            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="searchWith('@ViewBag.status',1)">Go!</button>
            </span>
        </div>

        @*<input type="date" />*@
    </div>

    <br />

    <div class="col-sm-12" style="left:0rem;display:flex">
        <div class="col-sm-10 col-sm-offset-1">
            <table class="table table-hover">
                <thead style="display: table-header-group;vertical-align: middle;border-color: inherit;">
                    <tr>
                        <th>请假号</th>
                        <th>肖像</th>
                        <th>姓名</th>
                        <th>联系手机</th>
                        <th>职位</th>
                        <th>请假条状态</th>
                        <th>操作</th>
                    </tr>

                </thead>
                <tbody style="display: table-row-group;vertical-align: middle;border-color: inherit;" onclick="">
                    @foreach (var leaveInfo in ViewBag.showLeaveInfoList)
                    {
                        if (@leaveInfo.leave.status == "成功")
                        {
                            <tr class="label-primary">
                                <td>@leaveInfo.leave.lId</td>
                                <th scope="row"><img class="img-circle" src=@("http://" + leaveInfo.member.imagePath) alt="头像" style="width:3rem;height:3rem;border-radius:3rem" /></th>
                                <td>@leaveInfo.member.name</td>
                                <td>@leaveInfo.member.mId</td>
                                <td>@leaveInfo.member.job</td>
                                <td>@leaveInfo.leave.status</td>
                                <th>
                                    <button type="button" class="btn-sm btn-warning" data-toggle="modal" data-target="#accessLeave">撤消</button>
                                    <button type="button" class="btn-sm btn-info" data-toggle="modal" data-target="#@leaveInfo.leave.lId">详情</button>

                                    <div class="modal fade" id="accessLeave" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">撤消请假条</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <input type="text" placeholder="输入意见" id="accessView" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="accessApply(@leaveInfo.lId,@leaveInfo.member.mId)">确认撤消</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="@leaveInfo.leave.lId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">请假条详细信息</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div id="Reason" class="row" style="display:flex">请假理由:</div><div><a style="color:darkgray">@leaveInfo.leave.reason</a></div>
                                                    <div class="row" style="display:flex">
                                                        申请时间: <div>@leaveInfo.leave.time</div>
                                                    </div>
                                                    <div class="row" style="display:flex">
                                                        请假时间: <div>@leaveInfo.leave.srcTime</div>到<div>@leaveInfo.leave.endTime</div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        }
                        else if (@leaveInfo.leave.status == "审核中")
                        {
                            <tr class="label-warning">
                                <td>@leaveInfo.leave.lId</td>
                                <th scope="row"><img class="img-circle" src=@("http://" + leaveInfo.member.imagePath) alt="头像" style="width:3rem;height:3rem;border-radius:3rem" /></th>
                                <td>@leaveInfo.member.name</td>
                                <td>@leaveInfo.member.mId</td>
                                <td>@leaveInfo.member.job</td>
                                <td>@leaveInfo.leave.status</td>
                                <th>
                                    <button type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#accessLeave">批准</button>
                                    <button type="button" class="btn-sm btn-danger" data-toggle="modal" data-target="#refuseLeave">驳回</button>
                                    <button type="button" class="btn-sm btn-info" data-toggle="modal" data-target="#@leaveInfo.leave.lId">详情</button>

                                    <div class="modal fade" id="accessLeave" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">请假条批准</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <input type="text" placeholder="输入意见" id="accessView" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="accessApply(@leaveInfo.leave.lId,@leaveInfo.member.mId)">提交批准</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="refuseLeave" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">请假条驳回</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <input type="text" placeholder="输入意见" id="refuseView" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="refuseApply(@leaveInfo.leave.lId,@leaveInfo.member.mId)">提交驳回</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="@leaveInfo.leave.lId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">请假条详细信息</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div id="Reason" class="row" style="display:flex">请假理由:</div><div><a style="color:darkgray">@leaveInfo.leave.reason</a></div>
                                                    <div class="row" style="display:flex">
                                                        申请时间: <div>@leaveInfo.leave.time</div>
                                                    </div>
                                                    <div class="row" style="display:flex">
                                                        请假时间: <div>@leaveInfo.leave.srcTime</div>到<div>@leaveInfo.leave.endTime</div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        }
                        else if (@leaveInfo.leave.status == "已销假")
                        {
                            <tr class="label-success">
                                <td>@leaveInfo.leave.lId</td>
                                <th scope="row"><img class="img-circle" src=@("http://" + leaveInfo.member.imagePath) alt="头像" style="width:3rem;height:3rem;border-radius:3rem" /></th>
                                <td>@leaveInfo.member.name</td>
                                <td>@leaveInfo.member.mId</td>
                                <td>@leaveInfo.member.job</td>
                                <td>@leaveInfo.leave.status</td>
                                <th>
                                    <button type="button" class="btn-sm btn-info" data-toggle="modal" data-target="#@leaveInfo.leave.lId">详情</button>

                                    <div class="modal fade" id="@leaveInfo.leave.lId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">请假条详细信息</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div id="Reason" class="row" style="display:flex">请假理由:</div><div><a style="color:darkgray">@leaveInfo.leave.reason</a></div>
                                                    <div class="row" style="display:flex">
                                                        申请时间: <div>@leaveInfo.leave.time</div>
                                                    </div>
                                                    <div class="row" style="display:flex">
                                                        请假时间: <div>@leaveInfo.leave.srcTime</div>到<div>@leaveInfo.leave.endTime</div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        }
                        else
                        {
                            <tr class="label-danger">
                                <td>@leaveInfo.lId</td>
                                <th scope="row"><img class="img-circle" src=@("http://" + leaveInfo.member.imagePath) alt="头像" style="width:3rem;height:3rem;border-radius:3rem" /></th>
                                <td>@leaveInfo.member.name</td>
                                <td>@leaveInfo.member.mId</td>
                                <td>@leaveInfo.member.job</td>
                                <td>@leaveInfo.leave.status</td>
                                <th>
                                    <button type="button" class="btn-sm btn-warning" data-toggle="modal" data-target="#accessLeave">撤消</button>
                                    <button type="button" class="btn-sm btn-info" data-toggle="modal" data-target="#@leaveInfo.leave.lId">详情</button>

                                    <div class="modal fade" id="accessLeave" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">撤消请假条</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <input type="text" placeholder="输入意见" id="accessView" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="accessApply(@leaveInfo.lId,@leaveInfo.member.mId)">确认撤消</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="@leaveInfo.leave.lId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">请假条详细信息</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div id="Reason" class="row" style="display:flex">请假理由:</div><div><a style="color:darkgray">@leaveInfo.leave.reason</a></div>
                                                    <div class="row" style="display:flex">
                                                        申请时间: <div>@leaveInfo.leave.time</div>
                                                    </div>
                                                    <div class="row" style="display:flex">
                                                        请假时间: <div>@leaveInfo.leave.srcTime</div>到<div>@leaveInfo.leave.endTime</div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        }

                    }


                </tbody>
            </table>
        </div>

        <div class='container-fluid col-sm-1.5'>
            <div class="list-group">
                <h4 class="page-header" id="selectType">@ViewBag.status</h4>
                <a class="list-group-item" onclick="JumpTo('未处理',1)">未处理</a>
                <a class="list-group-item" onclick="JumpTo('历史记录',1)">历史记录</a>
            </div>
        </div>

    </div>

    <div style="display:flex;margin:auto">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a onclick="JumpToPage('@ViewBag.status',@ViewBag.currentPage,-1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @if (ViewBag.currentPage >= 3 && ViewBag.currentPage <= ViewBag.PageSum - 2)
                {
                    if (ViewBag.currentPage - 2 > 1)
                    {
                        <li><a href="#">...</a></li>
                    }
                    for (int i = 0, j = ViewBag.currentPage - 2; i < 5; i++, j++)
                    {
                        <li><a onclick="JumpToPage('@ViewBag.status',@j,0)">@j</a></li>
                    }
                    if (ViewBag.currentPage + 2 < ViewBag.PageSum)
                    {
                        <li><a href="#">...</a></li>
                    }

                }
                else if (ViewBag.currentPage <= 3)
                {
                    for (int i = 1; i < 5 && i <= ViewBag.PageSum; i++)
                    {
                        <li><a onclick="JumpToPage('@ViewBag.status',@i,0)">@i</a></li>
                    }
                    if (ViewBag.PageSum > 5)
                    {
                        <li><a href="#">...</a></li>
                    }

                }
                else if (ViewBag.currentPage > ViewBag.PageSum - 2)
                {
                    if (ViewBag.PageSum > 5)
                    {
                        <li><a href="#">...</a></li>
                    }
                    for (int i = ViewBag.PageSum - 5, j = 0; j <= 5; j++, i++)
                    {
                        if(i <= 0)
                        {
                            continue;
                        }
                        <li><a onclick="JumpToPage('@ViewBag.status',@i,0)">@i</a></li>
                    }
                }
                <li>
                    <a onclick="JumpToPage('@ViewBag.status',@ViewBag.currentPage,1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</body>
</html>

