<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Content/laydate/laydate.js"></script>
    @*<script src="~/Views/Package/Package.js"></script>*@

    <script>

        function changeShowCheckType(self) {
            var button = document.getElementById("showCheckType");
            button.innerHTML = self.innerText + ' <span class="caret"></span>';
        }

        function changeInputContent(self) {
            var input = document.getElementById("showCheckContent");
            input.placeholder = self.innerText + '查找';
        }

        function turnToDetail(id) {
            window.location.href = '/Member/DetailMember?id=' + id;
        }

        function searchWith() {
            date1 = document.getElementById("thisDate1").value;
            date2 = document.getElementById("thisDate2").value;
            window.location.href = "/Member/moneyList?status=" + document.getElementById("selectType").innerText + "&searchWith=" + document.getElementById("showCheckType").innerText.replace(/\s+/g, "") + "&searchWithContent=" + document.getElementById("showCheckContent").value + "&date1=" + date1 + "&date2=" + date2 + "&page=1";

        }
        function JumpTo(status) {
            date1 = document.getElementById("thisDate1").value;
            date2 = document.getElementById("thisDate2").value;
            window.location.href = "/Member/moneyList?status=" + status + "&searchWith=" + document.getElementById("showCheckType").innerText + "&searchWithContent=" + document.getElementById("showCheckContent").value + "&date1=" + date1 + "&date2=" + date2 + "&page=1";
        }
        function JumpToPage(status, currentPage, count) {
            date1 = document.getElementById("thisDate1").value;
            date2 = document.getElementById("thisDate2").value;
            if (currentPage + count <= 0) {
                currentPage = 1;
            }
            else {
                currentPage = currentPage + count;
            }
            window.location.href = "/Member/moneyList?status=" + status + "&searchWith=" + document.getElementById("showCheckType").innerText + "&searchWithContent=" + document.getElementById("showCheckContent").value + "&date1=" + date1 + "&date2=" + date2 + "&page=" + (currentPage).toString();
        }
        function cancel(sId) {
            $.ajax({
                url: 'http://172.16.33.125/api/Money/Delete?id=' + sId, /*接口域名地址*/
                contentType: "application/json;charset=UTF-8",
                type: 'delete',
                data: JSON.stringify({
                    'id': sId
                }),
                success: function (res) {
                    if (res == true) {
                        alert('已经删除该条单');
                        window.location.reload();
                    } else {
                        alert('删除失败');
                    }
                }
            })
        }

        function fine(id) {
            if (document.getElementById("cm_" + id).value == 0 || document.getElementById("cm_" + id).value == null) {
                alert("金额不得为0或空值")
                return;
            }
            $.ajax({
                type: 'put',
                url: 'http://172.16.33.125/api/Money/UpdateMoneyItem',
                contentType: "application/json;charset=UTF-8",
                data: JSON.stringify({
                    "sId": id,
                    "subsidy": 0,
                    "fine": document.getElementById("cm_" + id).value,
                    "reason": document.getElementById("cr_" + id).value,
                    "person": "@ViewBag.managername"
                }),
                success: function (res) {
                    if (res == true) {
                        setTimeout(function () { alert("修改成功"); window.location.reload(); }, 2500);
                    }
                    else {
                        alert("提交失败");
                    }
                    
                }
            });
        }

        function subsidy(id) {
            if (document.getElementById("cm_" + id).value == 0 || document.getElementById("cm_" + id).value == null) {
                alert("金额不得为0或空值")
                return;
            }
            $.ajax({
                type: 'put',
                url: 'http://172.16.33.125/api/Money/UpdateMoneyItem',
                contentType: "application/json;charset=UTF-8",
                data: JSON.stringify({
                    "sId": id,
                    "subsidy": document.getElementById("cm_" + id).value,
                    "fine": 0,
                    "reason": document.getElementById("cr_" + id).value,
                    "person": "@ViewBag.managername"
                }),
                success: function (res) {
                    if (res == true) {
                        setTimeout(function () { alert("修改成功"); window.location.reload(); }, 2500);
                    }
                    else {
                        alert("提交失败");
                    }
                }
            });
        }

        function changeInputContentMonth(status, date1, date2) {
            if (date1 == null || date1 == "") {
                date1 = document.getElementById("thisDate1").value;
            }
            if (date2 == null || date2 == "") {
                date2 = document.getElementById("thisDate2").value;
            }
            window.location.href = "/Member/moneyList?status=" + status + "&searchWith=" + document.getElementById("showCheckType").innerText + "&searchWithContent=" + document.getElementById("showCheckContent").value + "&date1=" + date1 + "&date2=" + date2+ "&page=1";
        }

    </script>
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Login/AfterLogin">首页</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/Package/Package">包裹一览</a></li>
                    <li><a href="/Car/Car">站点配车</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">人员管理<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Member/AllMember">员工一览</a></li>
                            <li><a href="/Member/AddMember">员工录用</a></li>
                            <li><a href="/Member/DeleteMember">员工开除</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Member/Fine">奖罚款</a></li>
                            <li><a href="/Member/moneyList">奖罚款条单</a></li>
                            <li><a href="/Member/Leave">请假条</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Member/Mission">任务分配</a></li>
                            <li><a href="/Member/Wages">工薪统计</a></li>
                        </ul>
                    </li>
                    <li><a href="/Info/ModifyCommision">提成更改</a></li>
                    <li><a href="/Info/AllInfo">统计</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">显示更多 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Login/changePassword">修改超级密码</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Login/exitLogin">退出用户</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <h2 class='page-header'>奖罚款表单</h2>

    <div class="col-sm-10 col-sm-offset-2" style="display:flex">

        <script>
            laydate.render({
                elem: '#thisDate1',
                type: 'date',
                done: function (value, date, endDate) {
                    changeInputContentMonth('@ViewBag.status', value)
                }
            });
            laydate.render({
                elem: '#thisDate2',
                type: 'date',
                done: function (value, date, endDate) {
                    changeInputContentMonth('@ViewBag.status', '', value)
                }
            });
        </script>

        <input type="text" id="thisDate1" value="@ViewBag.thisDate1">
        <input type="text" id="thisDate2" value="@ViewBag.thisDate2">
        <button class="btn btn-default" type="button" onclick="changeInputContentMonth('@ViewBag.status')">OK!</button>

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="showCheckType">
                @ViewBag.searchWith<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a onclick="changeShowCheckType(this);changeInputContent(this)">按姓名</a></li>
                <li><a onclick="changeShowCheckType(this);changeInputContent(this)">按手机</a></li>
            </ul>
        </div>
        

        <div class="input-group">
            <input type="text" class="form-control" placeholder="" id="showCheckContent" value="@ViewBag.searchWithContent">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="searchWith(1,@ViewBag.thisDate)">Go!</button>
            </span>
        </div>
    </div>

    <br />

    <div class="col-sm-12" style="display:flex">
        <div class=" col-sm-10">
            <table class="table table-hover">
                <thead style="display: table-header-group;vertical-align: middle;border-color: inherit;">
                    <tr>
                        <th>流水号</th>
                        <th>姓名</th>
                        <th>联系手机</th>
                        <th>职位</th>
                        <th>奖罚款金额</th>
                        <th>落定时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody style="display: table-row-group;vertical-align: middle;border-color: inherit;" onclick="">
                    @foreach (var money in ViewBag.showMoneyList)
                    {
                        if (money.money.fine != 0)
                        {
                            <tr class="list-group-item-danger">
                                <td>@money.money.sId</td>
                                <td>@money.member.name</td>
                                <td>@money.member.mId</td>
                                <td>@money.member.job</td>
                                <td id="m_@money.money.sId"><font style="color:red">-@money.money.fine</font></td>
                                <td>@money.money.time</td>
                                <th>
                                    <button type="button" class="btn-sm btn-warning" data-toggle="modal" data-target="#c_@money.money.sId">修改</button>
                                    <button type="button" class="btn-sm btn-danger" data-toggle="modal" data-target="#b_@money.money.sId">撤消</button>
                                    <button type="button" class="btn-sm btn-info" data-toggle="modal" data-target="#x_@money.money.sId">详情</button>

                                    <div class="modal fade" id="c_@money.money.sId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">修改信息</h4>
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">金额</span>
                                                        <input type="text" class="form-control" placeholder="@money.money.fine" id="cm_@money.money.sId" />
                                                    </div>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">理由</span>
                                                        <input type="text" class="form-control" placeholder="@money.money.reason" id="cr_@money.money.sId" />
                                                    </div>
                                                    <button type="button" class="btn-sm btn-success" data-toggle="modal" onclick="subsidy(@money.money.sId)">补贴</button>
                                                    <button type="button" class="btn-sm btn-danger" data-toggle="modal" onclick="fine(@money.money.sId)">罚款</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">关闭</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="modal fade" id="b_@money.money.sId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">确认撤消</h4>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="cancel(@money.money.sId)">撤消</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">关闭</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="x_@money.money.sId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">详细信息</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row" style="border:1px">
                                                        @money.money.reason
                                                    </div>
                                                    <div class="row">
                                                        经办人：@money.money.person
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">关闭</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        }
                        else
                        {
                            <tr class="list-group-item-success">
                                <td>@money.money.sId</td>
                                <td>@money.member.name</td>
                                <td>@money.member.mId</td>
                                <td>@money.member.job</td>
                                <td id="m_@money.money.sId"><font style="color:green">+@money.money.subsidy</font></td>
                                <td>@money.money.time</td>
                                <th>
                                    <button type="button" class="btn-sm btn-warning" data-toggle="modal" data-target="#c_@money.money.sId">修改</button>
                                    <button type="button" class="btn-sm btn-danger" data-toggle="modal" data-target="#b_@money.money.sId">撤消</button>
                                    <button type="button" class="btn-sm btn-info" data-toggle="modal" data-target="#x_@money.money.sId">详情</button>

                                    <div class="modal fade" id="c_@money.money.sId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">修改信息</h4>
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">金额</span>
                                                        <input type="text" class="form-control" placeholder="@money.money.subsidy" id="cm_@money.money.sId" />
                                                    </div>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">理由</span>
                                                        <input type="text" class="form-control" placeholder="@money.money.reason" id="cr_@money.money.sId" />
                                                    </div>
                                                    <button type="button" class="btn-sm btn-success" data-toggle="modal" onclick="subsidy(@money.money.sId)">补贴</button>
                                                    <button type="button" class="btn-sm btn-danger" data-toggle="modal" onclick="fine(@money.money.sId)">罚款</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">关闭</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="b_@money.money.sId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">确认撤消</h4>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="cancel(@money.money.sId)">撤消</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">关闭</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="x_@money.money.sId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">详细信息</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row" style="border:1px">
                                                        @money.money.reason
                                                    </div>
                                                    <div class="row">
                                                        经办人：@money.money.person
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">关闭</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>


        <div class='container-fluid col-sm-1.5'>
            <div class="list-group">
                <h4 class="page-header" id="selectType">@ViewBag.status</h4>
                <a class="list-group-item" onclick="JumpTo('',1,'@ViewBag.thisDate')">全部</a>
                <a class="list-group-item" onclick="JumpTo('补贴',1,'@ViewBag.thisDate')">补贴</a>
                <a class="list-group-item" onclick="JumpTo('罚款',1,'@ViewBag.thisDate')">罚款</a>
            </div>
        </div>
    </div>

    <div style="display:flex;margin:auto">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a onclick="JumpToPage('@ViewBag.status',1 ,0)" aria-label="Previous">
                        <span aria-hidden="true">首页</span>
                    </a>
                </li>
                <li>
                    <a onclick="JumpToPage('@ViewBag.status',@ViewBag.currentPage,-1,'@ViewBag.thisDate')" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @if (ViewBag.currentPage >= 3 && ViewBag.currentPage <= ViewBag.PageSum - 2)
                {
                    if (ViewBag.currentPage - 2 > 1)
                    {
                        <li><a href="#">...</a></li>
                    }
                    for (int i = 0, j = ViewBag.currentPage - 2; i < 5; i++, j++)
                    {
                        <li><a onclick="JumpToPage('@ViewBag.status',@j,0,'@ViewBag.thisDate')">@j</a></li>
                    }
                    if (ViewBag.currentPage + 2 < ViewBag.PageSum)
                    {
                        <li><a href="#">...</a></li>
                    }

                }
                else if (ViewBag.currentPage <= 3)
                {
                    for (int i = 1; i < 5 && i <= ViewBag.PageSum; i++)
                    {
                        <li><a onclick="JumpToPage('@ViewBag.status',@i,0,'@ViewBag.thisDate')">@i</a></li>
                    }
                    if (ViewBag.PageSum > 5)
                    {
                        <li><a href="#">...</a></li>
                    }

                }
                else if (ViewBag.currentPage > ViewBag.PageSum - 2)
                {
                    if (ViewBag.PageSum > 5)
                    {
                        <li><a href="#">...</a></li>
                    }
                    for (int i = ViewBag.PageSum - 5, j = 0; j <= 5; j++, i++)
                    {
                        if (i <= 0)
                        {
                            continue;
                        }
                        <li><a onclick="JumpToPage('@ViewBag.status',@i,0,'@ViewBag.thisDate')">@i</a></li>
                    }
                }
                <li>
                    <a onclick="JumpToPage('@ViewBag.status',@ViewBag.currentPage,1,'@ViewBag.thisDate')" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li>
                    <a onclick="JumpToPage('@ViewBag.status',@ViewBag.PageSum,0)" aria-label="Previous">
                        <span aria-hidden="true">尾页</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>

