<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Content/laydate/laydate.js"></script>
    @*<script src="~/Views/Package/Package.js"></script>*@
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>

    <script>
        function changeShowCheckType(self) {
            var button = document.getElementById("showCheckType");
            button.innerHTML = self.innerText + ' <span class="caret"></span>';
        }

        function changeInputContent(self) {
            var input = document.getElementById("showCheckContent");
            input.type = "text";
            input.placeholder = self.innerText + '查找';
        }

        function changeInputContentMonth(month) {
            window.location.href = "/Member/Wages?status=" + document.getElementById("selectType").innerText + "&searchWith" + document.getElementById("showCheckType").innerText.replace(/\s+/g, "") + "&searchWithContent=" + document.getElementById("showCheckContent").value + "&month=" + month + "&page=1";
        }

        function searchWith(month) {
            alert(month);
            window.location.href = "/Member/Wages?status=" + document.getElementById("selectType").innerText + "&searchWith=" + document.getElementById("showCheckType").innerText.replace(/\s+/g, "") + "&searchWithContent=" + document.getElementById("showCheckContent").value + "&month=" + month + "&page=1";

        }
        function JumpTo(status, month) {
            window.location.href = "/Member/Wages?status=" + status + "&searchWith=" + document.getElementById("showCheckType").innerText.replace(/\s+/g, "") + "&searchWithContent=" + document.getElementById("showCheckContent").value + "&month=" + month + "&page=1";
        }
        function JumpToPage(status, currentPage, count, ym) {
            currentPage = parseInt(currentPage) + parseInt(count);
            window.location.href = "/Member/Wages?status=" + status + "&searchWith=" + document.getElementById("showCheckType").innerText.replace(/\s+/g, "") + "&searchWithContent=" + document.getElementById("showCheckContent").value + "&month=" + ym + "&page=" + currentPage;
        }
    </script>

    <div class="navbar navbar-default navbar-fixed-top">

        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Login/AfterLogin">首页</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/Package/Package">包裹一览</a></li>
                    <li><a href="/Car/Car">站点配车</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">人员管理<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Member/AllMember">员工一览</a></li>
                            <li><a href="/Member/AddMember">员工录用</a></li>
                            <li><a href="/Member/DeleteMember">员工开除</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Member/Fine">奖罚款</a></li>
                            <li><a href="/Member/moneyList">奖罚款条单</a></li>
                            <li><a href="/Member/Leave">请假条</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Member/Mission">任务分配</a></li>
                            <li><a href="/Member/Wages">工薪统计</a></li>
                        </ul>
                    </li>
                </ul>
                @*<form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="输入单号查询包裹">
                        </div>
                        <button type="submit" class="btn btn-default">查询</button>
                    </form>*@
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">显示更多 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Login/changePassword">修改超级密码</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Login/exitLogin">退出用户</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </div>

    <h2 class='page-header'>工资统计</h2>



    <div class="col-sm-6 col-sm-offset-4" style="display:flex">
        <script>
            laydate.render({
                elem: '#thisMonth',
                type: 'month',
                done: function (value, date, endDate) {
                    console.log(value); //得到日期生成的值，如：2017-08-18
                    console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                    console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
                    changeInputContentMonth(value)
                }
            });
        </script>

        <input type="text" id="thisMonth" value="@ViewBag.thisMonth">

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="showCheckType">
                @ViewBag.searchWith<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a onclick="changeShowCheckType(this);changeInputContent(this)">按姓名</a></li>
                <li><a onclick="changeShowCheckType(this);changeInputContent(this)">按手机</a></li>
            </ul>
        </div>

        <div class="input-group">
            <input type="text" class="form-control" placeholder="" id="showCheckContent" value="@ViewBag.searchWithContent">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="searchWith('@ViewBag.thisMonth')">Go!</button>
            </span>
        </div>
    </div>

    <br />

    <div class="col-sm-12" style="left:0rem;display:flex">
        <table class="table table-hover">
            <thead style="display: table-header-group;vertical-align: middle;border-color: inherit;">
                <tr>
                    <th>肖像</th>
                    <th>姓名</th>
                    <th>联系手机</th>
                    <th>本月工资详情</th>
                </tr>

            </thead>
            <tbody style="display: table-row-group;vertical-align: middle;border-color: inherit;" onclick="">

                @for (int i = 0; i < ViewBag.showMen.Count; i++)
                {
                    <tr>
                        <th scope="row"><img class="img-circle" src=@("http://" + ViewBag.showMen[i].imagePath) alt="头像" style="width:3rem;height:3rem;border-radius:3rem" /></th>
                        <td>@ViewBag.showMen[i].name</td>
                        <td>@ViewBag.showMen[i].mId</td>
                        <td>
                            <div class="btn-group" style="padding:1px">
                                <button type="button" class="btn-Mission btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li style="display:flex"><a>派件提成:</a><a class="Pie">￥@ViewBag.moneyInfo[i]["commission"]["delivery"]["total"]</a></li>
                                    <li style="display:flex"><a>揽件提成:</a><a class="Docs">￥@ViewBag.moneyInfo[i]["commission"]["pickUp"]["total"]</a></li>
                                    <li style="display:flex"><a>出件提成:</a><a class="Tra">￥@ViewBag.moneyInfo[i]["commission"]["transfer"]["total"]</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li style="display:flex"><a>底薪:</a><a class="Tra">￥@ViewBag.moneyInfo[i]["baseSalary"]</a></li>
                                    <li style="display:flex"><a>补贴:</a><a class="Tra">￥@ViewBag.moneyInfo[i]["subsidy"]["total"]</a></li>

                                    <li style="display:flex" data-toggle="modal" data-target="#@i">
                                        <a>罚款:</a><a class="Tra">￥@ViewBag.moneyInfo[i]["fine"]["total"]</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li style="display:flex"><a>总工资:</a><a class="wag">￥@ViewBag.moneyinfo[i]["total"]</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>

                    @*<div class="modal fade" id="@i" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">罚款记录</h4>
                                </div>
                                <div class="modal-body">
                                    你被罚了
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                </div>
                            </div>
                        </div>
                    </div>*@
                }


            </tbody>
        </table>



        <div class='container-fluid col-sm-2'>
            <div class="list-group">
                <h4 class="page-header" id="selectType">@ViewBag.status</h4>
                <a class="list-group-item" onclick="JumpTo('','@ViewBag.thisMonth')">全部</a>
                <a class="list-group-item" onclick="JumpTo('休息中','@ViewBag.thisMonth')">休息中</a>
                <a class="list-group-item" onclick="JumpTo('工作中','@ViewBag.thisMonth')">工作中</a>
                <a class="list-group-item" onclick="JumpTo('派件员','@ViewBag.thisMonth')">派件员</a>
                <a class="list-group-item" onclick="JumpTo('出件员','@ViewBag.thisMonth')">出件员</a>
                <a class="list-group-item" onclick="JumpTo('揽件员','@ViewBag.thisMonth')">揽件员</a>
            </div>
        </div>
    </div>
    <div style="display:flex;margin:auto">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a onclick="JumpToPage('@ViewBag.status',1 ,0)" aria-label="Previous">
                        <span aria-hidden="true">首页</span>
                    </a>
                </li>
                <li>
                    <a onclick="JumpToPage('@ViewBag.status','@ViewBag.currentPage',-1,'@ViewBag.thisMonth')" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @if (ViewBag.currentPage >= 3 && ViewBag.currentPage <= ViewBag.PageSum - 2)
                {
                    if (ViewBag.currentPage - 2 > 1)
                    {
                        <li><a href="#">...</a></li>
                    }
                    for (int i = 0, j = ViewBag.currentPage - 2; i < 5; i++, j++)
                    {
                        <li><a onclick="JumpToPage('@ViewBag.status',@j,0,'@ViewBag.thisMonth')">@j</a></li>
                    }
                    if (ViewBag.currentPage + 2 < ViewBag.PageSum)
                    {
                        <li><a href="#">...</a></li>
                    }

                }
                else if (ViewBag.currentPage <= 3)
                {
                    for (int i = 1; i < 5 && i <= ViewBag.PageSum; i++)
                    {
                        <li><a onclick="JumpToPage('@ViewBag.status',@i,0,'@ViewBag.thisMonth')">@i</a></li>
                    }
                    if (ViewBag.PageSum > 5)
                    {
                        <li><a href="#">...</a></li>
                    }

                }
                else if (ViewBag.currentPage > ViewBag.PageSum - 2)
                {
                    if (ViewBag.PageSum > 5)
                    {
                        <li><a href="#">...</a></li>
                    }
                    for (int i = ViewBag.PageSum - 5, j = 0; j <= 5; j++, i++)
                    {
                        if (i <= 0)
                        {
                            continue;
                        }
                        <li><a onclick="JumpToPage('@ViewBag.status', @i, 0, '@ViewBag.thisMonth')">@i</a></li>
                    }
                }
                <li>
                    <a onclick="JumpToPage('@ViewBag.status', @ViewBag.currentPage,1 , '@ViewBag.thisMonth')" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li>
                    <a onclick="JumpToPage('@ViewBag.status',@ViewBag.PageSum,0)" aria-label="Previous">
                        <span aria-hidden="true">尾页</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row" style="font-size:20px">
        本月站点统计:
    </div>
    <div class="row" style="display:flex;font-size:20px;margin-left:1rem">
        &nbsp;派件总数:&nbsp;<div id="SumPie" style="color:chartreuse">@ViewBag.sumD&nbsp;&nbsp;</div>揽件总数:&nbsp;<div id="SumDocs" style="color:cornflowerblue">@ViewBag.sumP&nbsp;&nbsp;</div>出件总数:&nbsp;<div id="SumTra" style="color:orangered">@ViewBag.sumT&nbsp;&nbsp;</div>工资总额:&nbsp;<div id="SumWag">@ViewBag.sumS</div>
    </div>





</body>
</html>

