<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<script src="~/Views/Package/Package.js"></script>*@

    <script>
        function checkPack() {
            window.location.href = "/Package/checkPackage?id=" + document.getElementById("pid").value;
        }

        function showBtn() {
            if (document.getElementById("pid").value != null && document.getElementById("pid").value != "") {
                document.getElementById("check").disabled = false;
            }
            else {
                document.getElementById("check").disabled = true;
            }
        }

    </script>

</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="Index">首页</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">我要寄件</a></li>
                    <li><a href="#">员工报道</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">显示更多<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">关于我们</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="输入单号查询包裹" id="pid" onblur="showBtn()">
                    </div>
                    <button type="submit" class="btn btn-default" disabled="disabled" onclick="checkPack()" id="check">查询</button>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $("#btn-Login").click(function () {
                                    location.href = "../Login/Login";
                                });
                            });
                        </script>

                        <button id="btn-Login" class="btn btn-primary btn-lg active" onclick="">登陆</button>

                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </div>



    <h2 class='page-header'>包裹查询</h2>

    <br />
    <br />

    <div style="display:flex;justify-content:space-between">


        <div class="col-sm-9" style="left:0rem">
            <table class="table table-hover">
                <thead style="display: table-header-group;vertical-align: middle;border-color: inherit;">
                    <tr>
                        <th>快递单号</th>
                        <th>收件人姓名</th>
                        <th>收件人手机</th>
                        <th>处理时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>

                </thead>
                <tbody style="display: table-row-group;vertical-align: middle;border-color: inherit;">

                    @if (@ViewBag.package != null)
                    {
                        <tr class="list-group-item-default" data-toggle="modal" data-target=".bs-example-modal-lg">
                            <th scope="row">@ViewBag.package.package.id</th>
                            <td> @ViewBag.package.dest.name</td>
                            <td> @ViewBag.package.dest.phone</td>
                            <td> @ViewBag.package.package.time</td>
                            <td> @ViewBag.package.package.status</td>
                            <th>
                                <button type="button" class="btn-sm btn-info" data-toggle="modal" data-target="#detail">详情</button>
                                <div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">包裹详细信息</h4>
                                            </div>
                                            <div class="modal-body">
                                                信息
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    }



                </tbody>
            </table>
        </div>
    </div>
</body>
</html>

