<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Login/AfterLogin">首页</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/Package/Package">包裹一览</a></li>
                    <li><a href="/Car/Car">站点配车</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">人员管理<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Member/AllMember">员工一览</a></li>
                            <li><a href="/Member/AddMember">员工录用</a></li>
                            <li><a href="/Member/DeleteMember">员工开除</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Member/Fine">奖罚款</a></li>
                            <li><a href="/Member/moneyList">奖罚款条单</a></li>
                            <li><a href="/Member/Leave">请假条</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Member/Mission">任务分配</a></li>
                            <li><a href="/Member/Wages">工薪统计</a></li>
                        </ul>
                    </li>
                </ul>
                @*<form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="输入单号查询包裹">
                    </div>
                    <button type="submit" class="btn btn-default">查询</button>
                </form>*@
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">显示更多 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Login/changePassword">修改超级密码</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Login/exitLogin">退出用户</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </div>



    <h2 class='page-header'>包裹一览</h2>

    <div class="col-sm-6 col-sm-offset-4" style="display:flex">

        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="showCheckType">
            @ViewBag.searchWith<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a onclick="changeShowCheckType(this);changeInputContent(this)">按单号</a></li>
            <li><a onclick="changeShowCheckType(this);changeInputContent(this)">按姓名</a></li>
            <li><a onclick="changeShowCheckType(this);changeInputContent(this)">按手机</a></li>
            <li><a onclick="changeShowCheckType(this);changeInputContent(this)">按时间</a></li>
        </ul>
        <div style="display: none;">
            <input type="month" value="2015-09" style="height:3rem" />
        </div>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="" id="showCheckContent" value="@ViewBag.searchWithContent">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="searchWith()">Go!</button>
            </span>
        </div>


    </div>

    <br />
    <br />

    <div style="display:flex;justify-content:space-between">


        <div class="col-sm-9" style="left:0rem">
            <table class="table table-hover">
                <thead style="display: table-header-group;vertical-align: middle;border-color: inherit;">
                    <tr>
                        <th>快递单号</th>
                        <th>收件人姓名</th>
                        <th>收件人手机</th>
                        <th>处理时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>

                </thead>
                <tbody style="display: table-row-group;vertical-align: middle;border-color: inherit;">

                    @foreach (var package in ViewBag.showPackage)
                    {
                        if (package.error != null)
                        {
                            <tr class="list-group-item-danger" data-toggle="modal" data-target=".bs-example-modal-lg" onclick="detailImformation(@package.package.id)">
                                <th scope="row">@package.package.id</th>
                                <td> @package.dest.name </td>
                                <td> @package.dest.phone </td>
                                <td> @package.package.time </td>
                                <td> @package.package.status </td>
                                <th>
                                    <button type="button" class="btn-sm btn-info" data-toggle="modal" data-target="#accessLeave">详情</button>
                                    <div class="modal fade" id="accessLeave" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">包裹详细信息</h4>
                                                </div>
                                                <div class="modal-body">
                                                    信息
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            continue;
                        }
                        if (@package.package.status == "派件中" ||
                                    @package.package.status == "运输中" ||
                                    @package.package.status == "已扫件" ||
                                    @package.package.status == "待揽件" ||
                                    @package.package.status == "已下单")
                        {
                            <tr class="list-group-item-info" data-toggle="modal" data-target=".bs-example-modal-lg" onclick="detailImformation(@package.package.id)">
                                <th scope="row">@package.package.id</th>
                                <td> @package.dest.name </td>
                                <td> @package.dest.phone </td>
                                <td> @package.package.time </td>
                                <td> @package.package.status </td>
                                <th>
                                    <button type="button" class="btn-sm btn-info" data-toggle="modal" data-target="#accessLeave">详情</button>
                                    <div class="modal fade" id="accessLeave" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">包裹详细信息</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <input type="text" placeholder="输入意见" id="accessView" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            continue;
                        }
                        else if (@package.package.status == "已签收")
                        {
                            <tr class="list-group-item-success" data-toggle="modal" data-target=".bs-example-modal-lg" onclick="detailImformation(@package.package.id)">
                                <th scope="row">@package.package.id</th>
                                <td> @package.dest.name </td>
                                <td> @package.dest.phone </td>
                                <td> @package.package.time </td>
                                <td> @package.package.status </td>
                                <th>
                                    <button type="button" class="btn-sm btn-info" data-toggle="modal" data-target="#accessLeave">详情</button>
                                    <div class="modal fade" id="accessLeave" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">包裹详细信息</h4>
                                                </div>
                                                <div class="modal-body">
                                                    信息
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            continue;
                        }

                        else
                        {
                            <tr class="list-group-item-danger" data-toggle="modal" data-target=".bs-example-modal-lg" onclick="detailImformation(@package.package.id)">
                                <th scope="row">@package.package.id</th>
                                <td> @package.dest.name </td>
                                <td> @package.dest.phone </td>
                                <td> @package.package.time </td>
                                <td> @package.package.status </td>
                                <th>
                                    <button type="button" class="btn-sm btn-info" data-toggle="modal" data-target="#accessLeave">详情</button>
                                    <div class="modal fade" id="accessLeave" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">包裹详细信息</h4>
                                                </div>
                                                <div class="modal-body">
                                                    信息
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            continue;
                        }

                    }

                </tbody>
            </table>
        </div>

        <div class='container-fluid col-sm-offset-1 col-sm-2'>
            <div class="list-group">
                <h4 class="page-header" id="selectType">@ViewBag.status</h4>
                <a class="list-group-item" onclick="JumpTo()">全部</a>
                <a class="list-group-item" onclick="JumpTo('派件中')">派件中</a>
                <a class="list-group-item" onclick="JumpTo('运输中')">运输中</a>
                <a class="list-group-item" onclick="JumpTo('已扫件')">已扫件</a>
                <a class="list-group-item" onclick="JumpTo('已下单')">已下单</a>
                <a class="list-group-item" onclick="JumpTo('已签收')">已签收</a>
                <a class="list-group-item" onclick="JumpTo('已处理')">已处理</a>
                <a class="list-group-item" onclick="JumpTo('错件')">错件</a>
                <a class="list-group-item" onclick="JumpTo('漏件')">漏件</a>
                <a class="list-group-item" onclick="JumpTo('破损')">破损</a>
                <a class="list-group-item" onclick="JumpTo('拒签')">拒签</a>
                <a class="list-group-item" onclick="JumpTo('丢件')">丢件</a>
            </div>
        </div>
    </div>
</body>
</html>

