<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Content/laydate/laydate.js"></script>
    <script>
        function changeShowCheckType(self) {
            var button = document.getElementById("showCheckType");
            button.innerHTML = self.innerText + ' <span class="caret"></span>';
        }

        function changeInputContent(self) {
            var input = document.getElementById("showCheckContent");
            input.placeholder = self.innerText + '查找';
        }

        function searchWith(currentPage) {

            window.location.href = "/Package/Package?status=" + status + "&searchWith=" + document.getElementById("showCheckType").innerText.replace(/\s+/g, "") + "&searchWithContent=" + document.getElementById("showCheckContent").value + "&date1=" + document.getElementById("date1").value + "&date2=" + document.getElementById("date2").value + "&page=" + (currentPage).toString();
            
        }
        function JumpTo(status, currentPage) {
            window.location.href = "/Package/Package?status=" + status + "&searchWith=" + document.getElementById("showCheckType").innerText.replace(/\s+/g, "") + "&searchWithContent=" + document.getElementById("showCheckContent").value + "&date1=" + document.getElementById("date1").value + "&date2=" + document.getElementById("date2").value + "&page=" + (currentPage).toString();
        }

        function JumpToPage(status, currentPage, count) {
            window.location.href = "/Package/Package?status=" + status + "&searchWith=" + document.getElementById("showCheckType").innerText.replace(/\s+/g, "") + "&searchWithContent=" + document.getElementById("showCheckContent").value + "&date1=" + document.getElementById("date1").value + "&date2=" + document.getElementById("date2").value + "&page=" + (currentPage + count).toString();
        }

        function dateChange(status, currentPage) {
            window.location.href = "/Package/Package?status=" + status + "&searchWith=" + document.getElementById("showCheckType").innerText.replace(/\s+/g, "") + "&searchWithContent=" + document.getElementById("showCheckContent").value + "&date1=" + document.getElementById("date1").value + "&date2=" + document.getElementById("date2").value + "&page=" + (currentPage).toString();
        }
    </script>
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Login/AfterLogin">首页</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/Package/Package">包裹一览</a></li>
                    <li><a href="/Car/Car">站点配车</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">人员管理<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Member/AllMember">员工一览</a></li>
                            <li><a href="/Member/AddMember">员工录用</a></li>
                            <li><a href="/Member/DeleteMember">员工开除</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Member/Fine">奖罚款</a></li>
                            <li><a href="/Member/moneyList">奖罚款条单</a></li>
                            <li><a href="/Member/Leave">请假条</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Member/Mission">任务分配</a></li>
                            <li><a href="/Member/Wages">工薪统计</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">显示更多 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Login/changePassword">修改超级密码</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Login/exitLogin">退出用户</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </div>



    <h2 class='page-header'>包裹一览</h2>

    <div class="col-sm-10 col-sm-offset-2" style="display:flex">

        <script>
            //执行一个laydate实例
            laydate.render({
                elem: '#date1' //指定元素

            });
            //执行一个laydate实例
            laydate.render({
                elem: '#date2' //指定元素
            });
        </script>

        <input type="text" id="date1" value="@ViewBag.date1">
        <input type="text" id="date2" value="@ViewBag.date2">

        <button class="btn btn-default" type="button" onclick="dateChange('@ViewBag.status',1)">OK!</button>

        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="showCheckType">
            @ViewBag.searchWith<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a onclick="changeShowCheckType(this);changeInputContent(this)">按单号</a></li>
            <li><a onclick="changeShowCheckType(this);changeInputContent(this)">按姓名</a></li>
            <li><a onclick="changeShowCheckType(this);changeInputContent(this)">按手机</a></li>
        </ul>

        <div class="input-group">
            <input type="text" class="form-control" placeholder="" id="showCheckContent" value="@ViewBag.searchWithContent">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="searchWith(1)">Go!</button>
            </span>
        </div>


    </div>

    <br />
    <br />

    <div style="display:flex;justify-content:space-between">


        <div class="col-sm-9" style="left:0rem">
            <table class="table table-hover">
                <thead style="display: table-header-group;vertical-align: middle;border-color: inherit;">
                    <tr>
                        <th>快递单号</th>
                        <th>收件人姓名</th>
                        <th>收件人手机</th>
                        <th>处理时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>

                </thead>
                <tbody style="display: table-row-group;vertical-align: middle;border-color: inherit;">

                    @foreach (var package in ViewBag.showPackage)
                    {
                        if (package.error != null)
                        {
                            <tr class="list-group-item-danger" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <th scope="row">@package.package.id</th>
                                <td> @package.dest.name </td>
                                <td> @package.dest.phone </td>
                                <td> @package.package.time </td>
                                <td> @package.package.status </td>
                                <th>
                                    <button type="button" class="btn-sm btn-info" data-toggle="modal" data-target="#accessLeave">详情</button>
                                    <div class="modal fade" id="accessLeave" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">包裹详细信息</h4>
                                                </div>
                                                <div class="modal-body">
                                                    信息
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            continue;
                        }
                        if (@package.package.status == "派件中" ||
                                    @package.package.status == "运输中" ||
                                    @package.package.status == "已扫件" ||
                                    @package.package.status == "待揽件" ||
                                    @package.package.status == "已下单")
                        {
                            <tr class="list-group-item-info" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <th scope="row">@package.package.id</th>
                                <td> @package.dest.name </td>
                                <td> @package.dest.phone </td>
                                <td> @package.package.time </td>
                                <td> @package.package.status </td>
                                <th>
                                    <button type="button" class="btn-sm btn-info" data-toggle="modal" data-target="#accessLeave">详情</button>
                                    <div class="modal fade" id="accessLeave" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">包裹详细信息</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <input type="text" placeholder="输入意见" id="accessView" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            continue;
                        }
                        else if (@package.package.status == "已签收")
                        {
                            <tr class="list-group-item-success" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <th scope="row">@package.package.id</th>
                                <td> @package.dest.name </td>
                                <td> @package.dest.phone </td>
                                <td> @package.package.time </td>
                                <td> @package.package.status </td>
                                <th>
                                    <button type="button" class="btn-sm btn-info" data-toggle="modal" data-target="#accessLeave">详情</button>
                                    <div class="modal fade" id="accessLeave" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">包裹详细信息</h4>
                                                </div>
                                                <div class="modal-body">
                                                    信息
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            continue;
                        }

                        else
                        {
                            <tr class="list-group-item-danger" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <th scope="row">@package.package.id</th>
                                <td> @package.dest.name </td>
                                <td> @package.dest.phone </td>
                                <td> @package.package.time </td>
                                <td> @package.package.status </td>
                                <th>
                                    <button type="button" class="btn-sm btn-info" data-toggle="modal" data-target="#accessLeave">详情</button>
                                    <div class="modal fade" id="accessLeave" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">包裹详细信息</h4>
                                                </div>
                                                <div class="modal-body">
                                                    信息
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            continue;
                        }

                    }

                </tbody>
            </table>
        </div>

        <div class='container-fluid col-sm-offset-1 col-sm-2'>
            <div class="list-group">
                <h4 class="page-header" id="selectType">@ViewBag.status</h4>
                <a class="list-group-item" onclick="JumpTo('',1)">全部</a>
                <a class="list-group-item" onclick="JumpTo('派件中',1)">派件中</a>
                <a class="list-group-item" onclick="JumpTo('运输中',1)">运输中</a>
                <a class="list-group-item" onclick="JumpTo('已扫件',1)">已扫件</a>
                <a class="list-group-item" onclick="JumpTo('已下单',1)">已下单</a>
                <a class="list-group-item" onclick="JumpTo('已签收',1)">已签收</a>
                <a class="list-group-item" onclick="JumpTo('已处理',1)">已处理</a>
                <a class="list-group-item" onclick="JumpTo('错件',1)">错件</a>
                <a class="list-group-item" onclick="JumpTo('漏件',1)">漏件</a>
                <a class="list-group-item" onclick="JumpTo('破损',1)">破损</a>
                <a class="list-group-item" onclick="JumpTo('拒签',1)">拒签</a>
                <a class="list-group-item" onclick="JumpTo('丢件',1)">丢件</a>
            </div>
        </div>
    </div>

    <div style="display:flex;margin:auto">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a onclick="JumpToPage('@ViewBag.status',@ViewBag.currentPage,-1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @if (ViewBag.currentPage >= 3 && ViewBag.currentPage <= ViewBag.PageSum - 2)
                {
                    if (ViewBag.currentPage - 2 > 1)
                    {
                        <li><a href="#">...</a></li>
                    }
                    for (int i = 0, j = ViewBag.currentPage - 2; i < 5; i++, j++)
                    {
                        <li><a onclick="JumpToPage('@ViewBag.status',@j,0)">@j</a></li>
                    }
                    if (ViewBag.currentPage + 2 < ViewBag.PageSum)
                    {
                        <li><a href="#">...</a></li>
                    }

                }
                else if (ViewBag.currentPage <= 3)
                {
                    for (int i = 1; i < 5 && i <= ViewBag.PageSum; i++)
                    {
                        <li><a onclick="JumpToPage('@ViewBag.status',@i,0)">@i</a></li>
                    }
                    if (ViewBag.PageSum > 5)
                    {
                        <li><a href="#">...</a></li>
                    }

                }
                else if (ViewBag.currentPage > ViewBag.PageSum - 2)
                {
                    if (ViewBag.PageSum > 5)
                    {
                        <li><a href="#">...</a></li>
                    }
                    for (int i = ViewBag.PageSum - 5, j = 0; j <= 5; j++, i++)
                    {
                        <li><a onclick="JumpToPage('@ViewBag.status',@i,0)">@i</a></li>
                    }
                }
                <li>
                    <a onclick="JumpToPage('@ViewBag.status',@ViewBag.currentPage,1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="row" style="display:flex;font-size:20px;margin-left:1rem">
        &nbsp;派件总数:&nbsp;<div id="SumPie" style="color:chartreuse">@ViewBag.sumD&nbsp;&nbsp;</div>揽件总数:&nbsp;<div id="SumDocs" style="color:cornflowerblue">@ViewBag.sumP&nbsp;&nbsp;</div>转件总数:&nbsp;<div id="SumTra" style="color:orangered">@ViewBag.sumT&nbsp;&nbsp;</div>工资总额:&nbsp;<div id="SumWag">@ViewBag.sumS</div>
    </div>
</body>
</html>

