<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<script src="~/Views/Package/Package.js"></script>*@
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
    <div class="navbar navbar-default navbar-fixed-top">

        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../Login/AfterLogin">首页</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="Package">包裹一览</a></li>
                    <li><a href="#">站点配车</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">人员管理<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../Member/AllMember">员工一览</a></li>
                            <li><a href="../Member/AddMember">员工录用</a></li>
                            <li><a href="../Member/DeleteMember">员工开除</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="../Member/Leave">请假条</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="../Member/Mission">任务分配</a></li>
                            <li><a href="../Member/Wages">工薪统计</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="输入单号查询包裹">
                    </div>
                    <button type="submit" class="btn btn-default">查询</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">显示更多 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../Login/changePassword">修改超级密码</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="../Home/Index">退出用户</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </div>

    <h2 class='page-header'>包裹一览</h2>

    <div style="display:flex;justify-content:space-between">


        <div class="col-sm-9" style="left:0rem">
            <table class="table table-hover">
                <thead style="display: table-header-group;vertical-align: middle;border-color: inherit;">
                    <tr>
                        <th>快递单号</th>
                        <th>收件人姓名</th>
                        <th>收件人手机</th>
                        <th>处理时间</th>
                        <th>状态</th>
                    </tr>

                </thead>
                <tbody style="display: table-row-group;vertical-align: middle;border-color: inherit;">

                    @for (int i = 0; i < ViewBag.packagesID.Count; i++)
                    {
                        if (@ViewBag.statusList[i] == "派件中" ||
                            @ViewBag.statusList[i] == "运输中" ||
                            @ViewBag.statusList[i] == "已扫件" ||
                            @ViewBag.statusList[i] == "待揽件" ||
                            @ViewBag.statusList[i] == "已下单")
                        {
                            <tr class="list-group-item-info" data-toggle="modal" data-target=".bs-example-modal-lg" onclick="detailImformation(@i)">
                                <th scope="row">@ViewBag.packagesID[i]</th>
                                <td>@ViewBag.nameList[i]</td>
                                <td>@ViewBag.phoneList[i]</td>
                                <td>@ViewBag.timeList[i]</td>
                                <td>@ViewBag.statusList[i]</td>

                            </tr>
                            continue;
                        }
                        else if (@ViewBag.statusList[i] == "已签收")
                        {
                            <tr class="list-group-item-success" data-toggle="modal" data-target=".bs-example-modal-lg" onclick="detailImformation(@i)">
                                <th scope="row">@ViewBag.packagesID[i]</th>
                                <td>@ViewBag.nameList[i]</td>
                                <td>@ViewBag.phoneList[i]</td>
                                <td>@ViewBag.timeList[i]</td>
                                <td>@ViewBag.statusList[i]</td>

                                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            详细信息
                                        </div>
                                    </div>
                                </div>

                            </tr>
                            continue;
                        }
                        else if (@ViewBag.statusList[i] == "拒收" || @ViewBag.statusList[i] == "错件" || @ViewBag.statusList[i] == "漏件" || @ViewBag.statusList[i] == "破损")
                        {
                            <tr class="list-group-item-info" data-toggle="modal" data-target=".bs-example-modal-lg" onclick="detailImformation(@i)">
                                <th scope="row">@ViewBag.packagesID[i]</th>
                                <td>@ViewBag.nameList[i]</td>
                                <td>@ViewBag.phoneList[i]</td>
                                <td>@ViewBag.timeList[i]</td>
                                <td>@ViewBag.statusList[i]</td>

                                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            详细信息
                                        </div>
                                    </div>
                                </div>

                            </tr>

                            continue;
                        }
                        else
                        {
                            <tr class="list-group-item-danger" data-toggle="modal" data-target=".bs-example-modal-lg" onclick="detailImformation(@i)">
                                <th scope="row">@ViewBag.packagesID[i]</th>
                                <td>@ViewBag.nameList[i]</td>
                                <td>@ViewBag.phoneList[i]</td>
                                <td>@ViewBag.timeList[i]</td>
                                <td>@ViewBag.statusList[i]</td>

                                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            详细信息
                                        </div>
                                    </div>
                                </div>

                            </tr>
                            continue;
                        }

                    }

                </tbody>
            </table>
        </div>

        <div class='container-fluid col-sm-offset-1 col-sm-2'>
            <div class="list-group">
                <h4 class="page-header">选择分类</h4>
                <button type="button" class="list-group-item">全部</button>
                <button type="button" class="list-group-item" style="background:cornflowerblue">派件中</button>
                <button type="button" class="list-group-item" style="background:cornflowerblue">运输中</button>
                <button type="button" class="list-group-item" style="background:cornflowerblue">已扫件</button>
                <button type="button" class="list-group-item" style="background:cornflowerblue">待揽件</button>
                <button type="button" class="list-group-item" style="background:cornflowerblue">已下单</button>
                <button type="button" class="list-group-item" style="background:greenyellow">已签收</button>
                <button type="button" class="list-group-item" style="background:red">错件</button>
                <button type="button" class="list-group-item" style="background:red">漏件</button>
                <button type="button" class="list-group-item" style="background:red">破损</button>
                <button type="button" class="list-group-item" style="background:gray">拒收</button>
            </div>
        </div>
        @*<div class='tabbable tabs-left'>

                <!--
                  选项卡：通过BS的类来控制选项卡的样式
                -->
                <ul class='nav nav-tabs'>
                    <li class='active'><a href='#tab1' data-toggle='tab'>选项一</a></li>
                    <li><a href='#tab2' data-toggle='tab'>选项二</a></li>
                    <li><a href='#tab3' data-toggle='tab'>选项三</a></li>
                    <li><a href='#tab4' data-toggle='tab'>选项四</a></li>
                    <li><a href='#tab5' data-toggle='tab'>选项五</a></li>
                </ul>

                <!--
                  选项卡的内容定义
                -->
                <div class='tab-content'>
                    <div class='tab-pane active' id='tab1'>我是选项卡一的内容</div>
                    <div class='tab-pane' id='tab2'>我是选项卡二的内容</div>
                    <div class='tab-pane' id='tab3'>我是选项卡三的内容</div>
                    <div class='tab-pane' id='tab4'>我是选项卡四的内容</div>
                    <div class='tab-pane' id='tab5'>我是选项卡五的内容</div>
                </div>
            </div>*@
    </div>



    @*<div>
        <div class="row col-sm-10 col-sm-offset-1" >
            <div class="row btn-groups"  style="width:100%;"  data-toggle="buttons">
                <label class="btn btn-info col-sm-2">
                    <input type="radio" name="options" id="option1"> 未揽件
                </label>
                <label class="btn btn-info col-sm-2">
                    <input type="radio" name="options" id="option2"> 未派件
                </label>
                <label class="btn btn-info col-sm-2">
                    <input type="radio" name="options" id="option3"> 未转件
                </label>
                <label class="btn btn-info col-sm-2">
                    <input type="radio" name="options" id="option4"> 已派送
                </label>
                <label class="btn btn-info col-sm-2">
                    <input type="radio" name="options" id="option5"> 问题件
                </label>
            </div>

            <div class="row col-sm-10" style="border-bottom:1px solid #000000;border-left:1px solid #000000;border-right:1px solid #000000">
                <table class="table table-striped table-hover">
                    ...
                </table>
            </div>

        </div>*@


    @*<div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseOne">
                            点击我进行展开，再次点击我进行折叠。第 1 部分
                        </a>
                    </h4>
                </div>
            </div>
        </div>*@
</body>
</html>

